@use 'variables' as *;

.section-heading h2,
.experience-preview-heading h2,
.projects-landing h2,
.project-landing h2,
.experience-intro h2 {
  font-family: $title-font-family;
}

.section-heading h2,
.experience-preview-heading h2,
.experience-intro h2 {
  color: $title-color-on-light;
}

.projects-landing h2,
.project-landing h2 {
  color: $title-color-on-dark;
}
