@use '../abstracts' as tokens;

:root {
  font-family: tokens.$font-body;
  color: tokens.$color-root-text;
  background: tokens.$color-canvas;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 20rem;
  min-height: 100vh;
  margin: 0;
}

a {
  color: inherit;
}
